.page-home{
  .pane-4{
    padding: 20px 40px 20px 80px;

    @include max-screen($max-mobile){
      padding: 20px;
    }
  }

  .pane-5{
    padding: 20px 60px;

    @include max-screen($max-mobile){
      padding: 20px;
    }
  }

  .pane-6{
    padding: 20px 80px 20px 40px;

    @include max-screen($max-mobile){
      padding: 20px;
    }
  }

  .pane-4, .pane-5, .pane-6{
    @extend %col-4;
    background: #60687f;
    min-height: 550px;
    text-align: center;

    &:after{
      content: "";
      display: block;
      clear: both;
    }

      .pane-title{
        display: none;
      }

      .pane-content{
        h2{
          display: block;
          color: $border-color;
          background: #343e5c;
          position: relative;
          overflow: hidden;
          padding-bottom: 10px;
        }

        img{
          width: 100%;
          height: auto;
          max-height: 100%;
        }

        a{
          @extend .button, .button-transparent-white;
          position: relative;
          line-height: 3.5;
        }
      }
  }
}