.page-node-84{
  background: white;
  color: $dark-text;
  .region-sidebar-second{
    margin-top: 50px;
    .block-block{
      a{
        @extend .button-rectangle;
        //background-color: transparent !important;
        //border: 2px solid $primary-bg;
        //color: $primary-bg !important;
        //
        //&:hover, &:focus{
        //  background-color: $primary-bg;
        //  color: $default-text;
        //}
      }
    }
  }

  .breadcrumb{
    display: none;
  }

  article{

    .field-name-body{
      p{
        margin-bottom: 20px;
        font-size: $fs-md;
        font-family: opensans, Roboto, sans-serif;
      }
    }
  }
}