.blackInnerPageWithHeader{
  color: $secondary-text;

  #myid{
    height: 250px !important;
    background-size: cover;
  }

  .navbar>.container {
      border-bottom: 0 none;
    }

  .main-container{
    background: $dark-bg url('../images/bg_main.jpg');
    background-repeat: no-repeat;
    background-position: left bottom;
    background-attachment: scroll;
    background-size: 100%;
    max-width: none;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;

    &>.row{
      padding: 80px 100px;
      position: relative;

      &:before{
        content: '';
        display: inline-block;
        position: absolute;
        width: 50px;
        border-bottom: 2px solid $border-color;
        top: 90px;
        left: 0;
      }

    }
  }

  .page-header{
    margin: 0;
    border-bottom: 0 none;
    color: $page-header;
    font-size: $fs-md;
    text-transform: uppercase;
    font-family: "RobotoBold", "Helvetica", "opensans";
  }

  .region-sidebar-second{
    margin-top: 20px;

    .block-block{
      .contextual-links-wrapper{
        position: relative;
      }
      
      a{
        @extend .button-rectangle, .btn-white;
        margin-top: 20px;
        width: 100%;
      }
    }

    #block-block-6{
      p>a{
        @extend .button-rectangle, .button-rectangle-blue;
        width: 100%;
      }
    }

    .node-analytics{
      margin: 20px 0;
    }

    .view-analytics{
      margin: 20px 0;

      .submitted{
        color: $hint-text;
        font-size: $fs-sm;
        display: inline-block;
        margin: 10px 0 0;
      }

      h2{
        a{
          display: block;
          text-transform: uppercase;
          font-family: "RobotoLight", 'Helvetica', sans-serif;
          font-weight: 400;
          font-size: $fs-md;
          margin: 10px 0;
          color: white;
          line-height: 1.25;
        }
      }

      p{
        //font-family: "RobotoLight", 'Helvetica', sans-serif;
        //font-size: $fs-md;
        //margin: 10px 0;
        //color: white;
        display: none;
      }

      .read-more{
        display: inline-block;
        font-family: "RobotoBold", 'Helvetica', sans-serif;
        font-size: $fs-sm +2;
        margin: 10px 0;
        text-transform: uppercase;
        color: white;
      }
    }
  }

  .breadcrumb{
    display: none;
  }

  article{
    overflow: auto;

    header{
      margin: 10px 0;

      h2{
        a{
          display: inline-block;
          font-size: $fs-lg;
          font-family: "RobotoLight", 'Helvetica', sans-serif;
          color: $default-text;
          text-transform: uppercase;
        }
      }
    }

    .field-name-body{
      p{
        font-size: $fs-md;
        font-family: "RobotoLight", 'Helvetica', sans-serif;
        margin-bottom: 15px;

        line-height: 1.5;
        &:first-child{
          margin-top: 10px;
        }
      }

      h2 {
        text-transform: uppercase;
        font-family: "RobotoLight", 'Helvetica', sans-serif;
        font-weight: 700;
        margin-bottom: 5px;
      }
    }

    .submitted-by{
      display: inline-block;
      color: $border-color;
    }
  }
}