.whiteInnerPageWithImage {
  color: $dark-text;

  .navbar>.container {
    border-bottom: 0 none;
  }

  .main-container {

    background: rgba(255, 255, 255, 1) url('../images/bg_white_main.jpg');
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-attachment: scroll;
    background-size: 100% 175%;
    max-width: none;
    width: 100%;
    margin: 0;
    padding: 0;

    &>.row{
      padding: 80px 100px;
      position: relative;

      &:before{
        content: '';
        display: inline-block;
        position: absolute;
        width: 50px;
        border-bottom: 2px solid $border-color;
        top: 90px;
        left: 0;
      }
    }
  }

  .page-header{
    margin: 0;
    border-bottom: 0 none;
    color: $page-header;
    font-size: $fs-md;
    text-transform: uppercase;
    font-family: "RobotoBold", "Helvetica", "opensans";
  }

  .region-sidebar-second {
    .contextual-links-wrapper{
      position: relative;
    }

    .block-block {
      a {
        @extend .button-rectangle;
        margin-top: 20px;
        width: 100%;
      }
    }

    #block-block-6{
      p>a{
        @extend .button-rectangle, .button-rectangle-blue;
        width: 100%;
      }
    }

    .node-analytics{
      margin: 20px 0;
    }

    .view-analytics{
      margin: 20px 0;

      .submitted{
        color: $hint-text;
        font-size: $fs-sm;
        display: inline-block;
        margin: 10px 0 0;
      }

      h2{
        a{
          display: block;
          text-transform: uppercase;
          font-family: "RobotoLight", 'Helvetica', sans-serif;
          font-weight: 400;
          font-size: $fs-md;
          margin: 10px 0;
          color: $white-pages-text;
          line-height: 1.25;
        }
      }

      p{
        //font-family: "RobotoLight", 'Helvetica', sans-serif;
        //font-size: $fs-md;
        //margin: 10px 0;
        //color: $white-pages-text;
        display: none;
      }

      .read-more{
        display: inline-block;
        font-family: "RobotoBold", 'Helvetica', sans-serif;
        font-size: $fs-sm + 2;
        margin: 10px 0;
        text-transform: uppercase;
        color: $hint-text;
      }
    }
  }

  .breadcrumb {
    display: none;
  }

  article {
    header{
      margin-bottom: 10px;

      h2{
        a{
          display: inline-block;
          font-size: $fs-lg;
          font-family: "RobotoLight", 'Helvetica', sans-serif;
          color: $default-text;
          text-transform: uppercase;
        }
      }
    }

    .field-name-body {
      p {
        font-size: $fs-md;
        font-family: "RobotoLight", 'Helvetica', sans-serif;
        margin-bottom: 15px;
        line-height: 1.5;

        &:first-child {
          margin-top: 10px;
        }
      }

      h2 {
        text-transform: uppercase;
        font-family: "RobotoLight", 'Helvetica', sans-serif;
        font-weight: 700;
        margin-bottom: 5px;
      }
    }

    .submitted-by {
      display: inline-block;
      color: $white-pages-text;
      font-family: "RobotoLight", 'Helvetica', sans-serif;
      margin: 20px 0 0;
    }

    .flippy {
      .prev, .next {
        a {
          display: inline-block;
          color: $primary-bg;

          &:hover, &:focus {
            color: lighten($primary-bg, 20%);
          }
        }
      }
    }
  }
}