body {
  font-family: opensans, "RobotoLight", sans-serif;
  font-size: 14px;
  line-height: 1.25;
  min-width: 320px;
  min-height: 320px;
  background-color: $primary-bg;
  color: $default-text;
}

*{
  transition: all 0.3s;
}

p, h1, h2, span{
  letter-spacing: 1.25px;
  word-spacing: 2px;
}

p{
  line-height: 1.5;
}

.page-home{
  &-header{
    display: none;
  }

  .alert{
    display: none;
  }
}

.progress-disabled{
  float: left !important;

  &:before, &:after{
    content: '';
    background: transparent none !important;
  }
}

form {
  .form-control {
    &.error {
      border: red 2px solid;
    }
  }
}

.row{
  margin: 0;

  .col-sm-12{
    padding: 0;
  }
}
//temp styles.Delete when needed
.header-popup{
  display: none;
}

.pane-fondexx-fondexx-market-leaders{
  display: none;
}