body {
  font-family: opensans, "RobotoLight", sans-serif;
  font-size: 14px;
  line-height: 1.25;
  min-width: 320px;
  min-height: 320px;
  background-color: $primary-bg;
  color: $default-text;
}

*{
  transition: all 0.3s;
}

.page-home{
  &-header{
    display: none;
  }

  .alert{
    display: none;
  }
}