//variables

//Resolution breakpoints
$hdpi: 1440;
$mdpi: 992;
$tablet: 768;
$mobile: 320;

// Sizes
$col-padding: 15;

//colors
$primary-bg: #222328;
$dark-bg: #2b2c32;
$overlay-menu: #f8f8f8;
$primary-light: #343e5c;
$divider: #60687f;
$accent-color: #39b54a;
$primary-color: #0099ad;
$border-color: #bdc2d4;
$icon-color: #bdc2d4;

$contacts-icon: #00e2ff;
$page-header: #00e2ff;

$error: #f1577b;
$table-white-stripe: rgba(75, 75, 88, 0.5);

$default-text: #fff;
$dark-text: #000;
$white-pages-text: #2b2c32;
$secondary-text: #f8f8f8;
$hint-text: #747783;

//demo landing
$demo-landing-text: #60687f;
$demo-input-bg: #eaebec;

//analytics landing:
$analytics-text: #2b2c32;

//footer
$footer-text-color: #bdc2d4;
//font-sizes:
//$fs-sm: 14px;
//$fs-md: 20px;
//$fs-lg: 35px;
//$fs-title: 22px;

//smaller text according to Gleb's request
$fs-sm: 12px;
$fs-md: 16px;
$fs-lg: 30px;
$fs-title: 20px;