//variables

//Resolution breakpoints
$hdpi: 1440;
$mdpi: 992;
$tablet: 768;
$mobile: 320;

// Sizes
$col-padding: 15px;

//Colors
$primary: #9153cc;
$primary-dark: #7b3fb3;
$green: #90c004;
$white: #fff;
$orange: #d27a12;

//font-sizes:
$fs-sm: 14px;
$fs-md: 20px;
$fs-lg: 35px;
$title-text: 22px;
