//variables

//Resolution breakpoints
$hdpi: 1440;
$mdpi: 992;
$tablet: 768;
$mobile: 320;

// Sizes
$col-padding: 15;

//colors
$primary-bg: #222328;
$overlay-menu: #f8f8f8;
$primary-light: #343e5c;
$divider: #60687f;
$accent-color: #39b54a;
$primary-color: #0099ad;
$border-color: #bdc2d4;

$contacts-icon: #00e2ff;
$page-header: #00e2ff;

$error: #f1577b;
$table-white-stripe: rgba(75, 75, 88, 0.5);

$default-text: #fff;
$dark-text: #000;


//demo landing
$demo-landing-text: #60687f;
$demo-input-bg: #eaebec;
//font-sizes:
$fs-sm: 14px;
$fs-md: 20px;
$fs-lg: 35px;
$fs-title: 22px;
