
.navbar {
  background-color: $primary-bg;
  border-color: transparent;
  width: 100%;
  padding: 0;
  max-width: none !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;

  & > .container {
    width: 100%;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid $divider;
  }

  &-header {
    display: block;
    width: 100%;
    border-bottom: 2px solid $divider;

    .toggle-btn-wrapper {
      @extend %col-1, %col-md-4, %col-sm-4;
      text-align: center;
      height: 100%;
      display: inline-block;
      padding: 10px;
      border-right: 2px solid $divider;

      @include max-screen($max-tablet){
        border-right: 0 none;
      }

      .navbar-toggle {
        display: block;
        position: relative;
        border: 0 none;
        vertical-align: bottom;
      }
    }

    .logo {
      @extend %col-2, %col-md-4, %col-sm-4;
      overflow: hidden;
      height: 70px;
      display: inline-block;
      margin: 0 !important;
      background: url("../images/pngIcons/fondex_logo.png") no-repeat;
      background-size: 70%;
      background-position: center;

      //stub!!!
      img {
        display: none;
      }
    }

    .login-btn-wrapper {
      padding: 15px;
      @extend %col-4, %col-md-12, %col-sm-12;
      min-width: 150px;

      @include max-screen($max-mobile){
          text-align: center;
      }

      .button-login {
        float: right;
        text-decoration: none;
        text-transform: uppercase;
        width: auto;
        min-width: 150px;
        height: 30px;
        line-height: 2.5;
        padding: 0 15px;
        font-weight: 700;
        font-size: $fs-sm;
        border-radius: 32px;
        font-family: "RobotoBold", 'Helvetica', 'sans-serif';
      }

      a{
        margin-right: 10px;

        @include max-screen($max-mobile){
          min-width: 135px;
          float: none;
        }
      }
    }

    &>.nav {
      @extend %col-5;
      display: inline-block;
      margin: 0 !important;
      vertical-align: baseline;
      padding: 15px;

      @include max-screen($max-mobile){
        display: none;
      }

      li {
        display: inline-block;
        font-size: $fs-md;

        &.first{
          display: none;
        }

        .dropdown-toggle {
          color: $default-text;
          text-decoration: none;
          text-transform: uppercase;
          transition: all .3s ease;
          font-family: "RobotoLight", "Helvetica", "sans-serif";
          padding: 10px;
          letter-spacing: 1px;

          &:hover, &:focus {
            color: $dark-text;
            background-color: white;
          }

          &.active {
            background-color: transparent;
            color: $default-text;
            font-weight: 900;
          }

          & > .caret {
            display: none;
          }
        }
      }
    }
    // CONTACTS ON MAIN HEADER
    #last-contacts-block {
      display: none;
    }
  }
}

//Reset bootstrap styles
.nav>li>a{
  padding: 0;
}