.navbar {

  &-collapse.collapse {
    display: none !important;
  }

  &-collapse.collapsing {
    display: none;
  }

  &-collapse.collapse.in {
    display: block !important;
    height: 100vh !important;
    position: fixed;
    z-index: 250;
    top: 0;
    width: 100%;
    border-color: transparent;
    background-color: $overlay-menu;

    @include max-screen($max-mobile){
      width: auto;
    }

    .close-overlay {
      position: absolute;
      top: 125px;
      left: 5%;
      cursor: pointer;

      @media screen and (max-height: 800px) {
        top: 65px;
        left: 5%;
      }

      @include max-screen($max-mobile){
        top: 25px;
        left: 50px;
      }

      &:hover, &:focus {
        animation: spin .6s ease 0s 1;
      }

      &:before {
        color: $white-pages-text;
        font-size: 35px;
      }
    }

    .first {
      display: none;
    }

    .nav > .nav {
      margin: 0;
      width: 100%;
    }
    .nav {
      float: none;
      margin: 75px auto;
      padding: 0 30px;
      height: auto;
      max-height: 90vh;
      overflow: auto;
      max-width: 1200px;

      @media screen and (max-height: 800px) {
        margin: 40px auto;
      }

      & > li {
        float: none;
        display: inline-block;
        width: 32%;
        margin: 20px 0;
        vertical-align: top;

        @media screen and (max-height: 800px) {
          margin: 5px 0;
        }

        @include max-screen($max-mobile){
          width: 100%;
        }

        &.first {
          display: none;
        }

        &:before {
          font-size: 120px;
          color: $icon-color;
          display: inline-block;

          @media screen and (max-height: 800px) {
            font-size: 90px;
          }
        }

        &:nth-of-type(2) {
          &:before {
            @extend .icon, .icon-company;
          }
        }

        &:nth-of-type(3) {
          &:before {
            @extend .icon, .icon-trading;
          }
        }

        &:nth-of-type(4) {
          &:before {
            @extend .icon, .icon-training;
          }
        }

        &:nth-of-type(5) {
          &:before {
            @extend .icon, .icon-analytics;
          }
        }

        &#last-contacts-block {
          &:before {
            @extend .icon, .icon-contacts;
            font-size: 120px;
            color: $icon-color;
            display: inline-block;

            @media screen and (max-height: 800px) {
              font-size: 90px;
            }
          }

          & > a {
            display: inline-block;
            border-bottom: 0 none;
            color: $page-header;
            font-size: $fs-title;
            font-family: "RobotoBold";
            font-weight: 500;
            text-transform: uppercase;
            margin: 10px 0 20px 5px;
          }

          & > .menu-attach-block-wrapper.orientation-horizontal .block {
            background: transparent;
            position: relative;
            top: auto;
            width: 100%;
            z-index: auto;
            padding: 0;

            p {
              margin: 0 0 0 120px;
              display: block;
              width: 100%;
              font-family: "RobotoRegular";
              font-weight: 400;
              color: $white-pages-text;
              padding: 10px 0;

              @include max-screen($max-tablet){
                margin: 0;
                padding: 5px 0;
              }
            }
          }
        }

        .dropdown-toggle {
          display: inline-block;
          border-bottom: 0 none;
          color: $page-header;
          font-size: $fs-title;
          font-family: "RobotoBold";
          font-weight: 500;
          text-transform: uppercase;
          margin: 10px 0 20px 0;

          &.active {
            background-color: transparent;
          }

          @include max-screen($mobile){
            display: block;
          }
        }

        .caret {
          display: none;
        }

        .dropdown-menu {
          display: block;
          position: relative;
          box-shadow: none;
          border: 0 none;
          background: transparent;
          margin: 0 0 0 120px;

          @include max-screen($max-tablet){
            margin: 0;
          }

          .leaf {
            display: block;
            width: 100%;
            a {
              display: block;
              background: transparent;
              width: 100%;
              font-family: "RobotoRegular", 'Helvetica Neue', 'sans-serif';
              font-weight: 400;
              color: $white-pages-text;
              padding: 10px 0;

              @media screen and (max-height: 800px) {
                padding: 5px 0;
              }
            }
          }
        }
      }
    }
  }
}

@keyframes spin { 100% { transform:rotate(360deg); } }