.navbar {

  &-collapse.collapse {
    display: none !important;
  }

  &-collapse.collapsing {
    //transition-duration: 0s !important;
    //overflow: hidden !important;
    //height: 0 !important;
    display: none;
  }

  &-collapse.collapse.in {
    display: block !important;
    height: 100vh !important;
    position: fixed;
    z-index: 250;
    top: 0;
    width: 100%;
    border-color: transparent;
    background-color: $overlay-menu;

    .close-overlay {
      position: absolute;
      top: calc(5vh + 5% + 75px) ;
      left: 5%;
      cursor: pointer;

      &:hover, &:focus {
        animation: spin .6s ease 0s 1;
      }

      &:before {
        color: $white-pages-text;
        font-size: 35px;
      }
    }

    .first {
      display: none;
    }

    .nav > .nav {
      margin: 5% 0 0 25px;
      width: 100%;
    }
    .nav {
      width: 90%;
      margin: 5vh 0 0 5%;
      height: auto;
      min-height: 90vh;
      max-width: 1450px;

      & > li {
        float: none;
        display: inline-block;
        width: 32%;
        margin: 20px 0;
        vertical-align: top;

        &.first {
          display: none;
        }

        &:before {
          font-size: 120px;
          color: $icon-color;
          display: inline-block
        }

        &:nth-of-type(2) {
          &:before {
            @extend .icon, .icon-company;
          }
        }

        &:nth-of-type(3) {
          &:before {
            @extend .icon, .icon-trading;
          }
        }

        &:nth-of-type(4) {
          &:before {
            @extend .icon, .icon-training;
          }
        }

        &:nth-of-type(5) {
          &:before {
            @extend .icon, .icon-analytics;
          }
        }

        &#last-contacts-block {
          &:before {
            @extend .icon, .icon-contacts;
            font-size: 120px;
            color: $icon-color;
            display: inline-block;
          }

          & > a {
            display: inline-block;
            border-bottom: 0 none;
            color: $page-header;
            font-size: $fs-title;
            font-family: "RobotoBold";
            font-weight: 500;
            text-transform: uppercase;
            margin: 10px 0 20px 0;
          }

          & > .menu-attach-block-wrapper.orientation-horizontal .block {
            background: transparent;
            position: relative;
            top: auto;
            width: 100%;
            z-index: auto;
            padding: 0;

            p {
              margin: 0 0 0 120px;
              display: block;
              width: 100%;
              font-family: "RobotoRegular";
              font-weight: 400;
              color: $white-pages-text;
              padding: 10px 0;
            }
          }
        }

        .dropdown-toggle {
          display: inline-block;
          border-bottom: 0 none;
          color: $page-header;
          font-size: $fs-title;
          font-family: "RobotoBold";
          font-weight: 500;
          text-transform: uppercase;
          margin: 10px 0 20px 0;

          &.active {
            background-color: transparent;
          }
        }

        .caret {
          display: none;
        }

        .dropdown-menu {
          display: block;
          position: relative;
          box-shadow: none;
          border: 0 none;
          background: transparent;
          margin: 0 0 0 120px;

          .leaf {
            display: block;
            width: 100%;
            a {
              display: block;
              background: transparent;
              width: 100%;
              font-family: "RobotoRegular", 'Helvetica Neue', 'sans-serif';
              font-weight: 400;
              color: $white-pages-text;
              padding: 10px 0;
            }
          }
        }
      }
    }
  }
}

@keyframes spin { 100% { transform:rotate(360deg); } }