.navbar {

  .header-popup{
    display: none;
    opacity: 0;
    margin-left: -1px;
  }

  .header-popup.overlay{
    display: block !important;
    min-height: 100vh !important;
    position: fixed;
    z-index: 250;
    top: 0;
    width: 100%;
    border-color: transparent;
    background-color: $overlay-menu;
    transition: all 0.4s;
    opacity: 1;

    .close-overlay-popup {
      position: absolute;
      top: 100px;
      left: 5%;
      cursor: pointer;

      @media screen and (max-height: 800px) {
        top: 25px;
        left: 5%;
      }

      @include max-screen($max-mobile){
        top: 25px;
        left: 25px;
      }

      &:hover, &:focus {
        animation: spin .6s ease 0s 1;
      }

      &:before {
        color: $white-pages-text;
        font-size: 35px;
      }
    }

    .tab-content{
      max-height: 100vh;
      overflow: scroll;
    }

    .tab-pane{
      padding: 150px 100px 25px;
      overflow: hidden;
      background: #f1f2f7;


      @media screen and (max-height: 800px) {
        padding: 75px 100px 25px;
      }

      @include max-screen($max-mobile){
        padding: 75px 60px;
      }

      h2{
        color: $primary-color;
        font-family: "RobotoBold", "Helvetica", "sans-serif";
        padding-bottom: 40px;


        @media screen and (max-height: 800px) {
          padding-bottom: 20px;
        }
      }


      form {
        @extend %col-12;
        color: #fff;

        .webform-component{
          overflow: hidden;
          @extend %col-8;
        }

        .form-required {
          display: none;
        }

        .form-control {
          @extend %col-8, %col-md-8, %col-sm-12;
          background: $demo-input-bg;
          border: 1px solid $border-color;
          height: 60px;
          padding: 20px;
          font-size: $fs-title;
          color: $border-color;
          border-radius: 0;
          font-family: "RobotoLightItalic", "Helvetica", "sans-serif";
          margin: 15px 0;

          @media screen and (max-height: 800px) {
            margin: 5px 0;
          }
        }

        .control-label {
          margin-top: 5px;
          font-family: "RobotoLightItalic", "Helvetica", "sans-serif";
          color: $white-pages-text;
        }

        .webform-component.webform-component--files {
          @extend %col-6;
          margin-top: 5px;

          @media screen and (max-height: 800px) {
            margin-bottom: 5px;
          }

          .req-docs {

            li{
              display: inline-block;
            }
            a {
              color: transparent;
              width: 35px;
              display: inline-block;

              &:before {
                content: "";
                display: inline-block;
                background: transparent url('../images/pngIcons/downloadDocument.png') no-repeat scroll center;
                font-size: 24px;
                height: 33px;
                width: 24px;
              }
            }
          }
        }

        .webform-component.webform-component-checkboxes{
          @extend %col-6;
        }

        .webform-component--otkuda-prishel{
          @extend %col-8;
          display: none;

          .form-control{
            margin-top: 0;
          }
        }

        .form-actions{
          @extend %col-8;
        }
        input[type='submit'], .webform-submit {
          @extend .button, .button-transparent-blue;
          line-height: 1;
          font-family: "RobotoBold", "Helvetica", "sans-serif";
        }
      }
    }
  }
}
