.header {
  &-content {

    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }

  &_links {
    @extend %col-offset-1, %col-8, %col-md-8;
    display: inline-block;
    padding: 10px;
    border-right: 2px solid $divider;
    min-height: 80px;

    @include max-screen($max-mobile){
      display: none;
    }

    &-list, .menu.nav {
      display: block;
      vertical-align: baseline;

      li {
        display: inline-block;
        font-size: $fs-sm;

        a {
          display: block;
          color: $default-text;
          text-decoration: none;
          text-transform: uppercase;
          transition: all .3s ease;
          font-family: "RobotoLight", "Helvetica", "sans-serif";
          padding: 10px;
          letter-spacing: 1px;

          &:hover, &:focus {
            color: $dark-text;
            background-color: white;
          }

          &.active {
            background-color: transparent;
            color: $default-text;
            font-weight: 700;
            font-family: "RobotoBold", "Helvetica", "sans-serif";
          }

          & > .caret {
            display: none;
          }
        }
      }
    }
  }

  &_contacts {
    @extend %col-3, %col-md-4, %col-sm-12;
    max-width: 360px;
    padding: 10px;

    &-wrapper {
      @extend %col-5, %col-md-12, %col-sm-12;
      text-align: center;

      @include max-screen($max-tablet){
        display: none;
      }
    }

    .button {
      background-color: transparent;
      border: 2px solid $border-color;
      color: $border-color;
      width: 75px !important;;
      height: 30px !important;
      line-height: 15px !important;;
      font-size: $fs-sm+2 !important;
      padding: 5px;
      font-family: "RobotoMedium", 'Helvetica', 'sans-serif';
      font-weight: 700;
      letter-spacing: 1.5px;

      &:hover {
        background-color: $border-color;
        color: $primary-bg;
      }
    }

    &-list {
      @extend %col-6, %col-md-12, %col-sm-12;

      @include max-screen($max-tablet){
        text-align: center;
      }

      li {
        display: block;
        width: 100%;
      }
    }

    &-link {
      display: inline-block;
      font-size: $fs-sm;
      color: $default-text;
      text-decoration: none;
      font-family: "RobotoLight", "opensans", "sans-serif";
      margin: 2.5px;

      &.skype:before {
        @extend .icon, .icon-skype;
        display: inline-block;
        color: $contacts-icon;
        font-size: $fs-sm;
        margin-right: 5px;
      }

      &.phone:before {
        @extend .icon, .icon-tel;
        color: $contacts-icon;
        font-size: $fs-sm;
        margin-right: 5px;
      }

      &:hover {
        color: darken($default-text, 20%);
      }
    }
  }
}