.page-home {
  .page-header {
     display: none;
   }

  .pane-views-slider-block-1 {
    .carousel-inner {

      .item {
        .views-field-title {

          display: inline-block;
          position: absolute;
          left: 15%;
          top: 15%;

          .field-content {
            display: inline-block;
            font-size: $fs-title;
            color: $primary-color;
            font-family: "RobotoBold";
            font-weight: 700;

            p:before{
              content: '';
              display: inline-block;
              background: transparent url('../images/pngIcons/listItemStyleIcon.png') no-repeat scroll center;
              background-size: cover;
              width: 20px;
              height: 10px;
              margin: 5px 15px 0 0;
              position: relative;
              line-height: 30px;
            }
          }
        }

        .views-field-body {
          display: inline-block;
          position: absolute;
          left: 15%;
          top: 25%;

          .field-content {
            display: inline-block;
            font-size: $fs-md;
            color: $dark-text;

            .btn {
              @extend .button;
              border: 0 none;
              margin-top: 25px;
            }
          }
        }

        .views-field-field-slider-image {
          .img-responsive {
            width: 100%;
          }
        }
      }
    }

    .carousel-control {
      .icon-prev, .icon-next {
        &:before {
          border: 2px solid $default-text;
          border-radius: 50%;
          display: inline-block;
          width: 30px;
          line-height: 1.5;
        }
      }
    }
  }
}