.button{
  display: inline-block;
  width: 200px;
  height: 50px;
  cursor: pointer;
  transition: all .4s ease;
  color: $default-text;
  font-size: $fs-sm;
  text-align: center;
  background-color: $primary-color;
  font-weight: 700;
  border-radius: 42px;
  line-height: 45px;
  text-transform: uppercase;
  text-decoration: none;

  &:hover, &:focus{
    background-color: lighten($primary-color, 20%);
    color: $default-text;
  }

  &-dark-blue{
    background-color: $primary-light;

    &:hover, &:focus{
      background-color: lighten($primary-light, 20%);
      color: $default-text;
    }
  }

  &-transparent{
    background-color: transparent;
    border: 2px solid $border-color;
    color: $border-color;

    &:hover, &:focus{
      background-color: darken($border-color, 20%);
      color: $primary-bg;
    }
  }

  &-transparent-blue{
    background-color: transparent;
    border: 2px solid $primary-color;
    color: $primary-color;

    &:hover, &:focus{
      background-color: $primary-color;
      color: $default-text;
    }
  }
}

.button-rectangle{
  display: inline-block;
  width: 200px;
  height: 50px;
  cursor: pointer;
  transition: all .4s ease;
  color: $primary-bg;
  font-size: $fs-sm;
  text-align: center;
  background-color: transparent;
  font-weight: 700;
  border-radius: 10px;
  line-height: 50px;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid $primary-bg;

  &:hover, &:focus{
    background-color: $primary-bg;
    color: $default-text;
  }
}

.btn-white{
  color: white;
  border: 2px solid white;

  &:hover, &:focus{
    background-color: white;
    color: $primary-bg;
  }
}

.btn-transparent-rounded{
  background-color: $primary-bg;
  width: 120px;
  height: 30px;
  line-height: 0.25;
  border-radius: 15px;

}