.pane-views-slider-block-1{
  .carousel-inner{

    .item{
      .views-field-title{

        display: inline-block;
        position: absolute;
        left: 15%;
        top: 15%;

          .field-content{
            display: inline-block;
            font-size: $fs-title;
            color: $primary-color;
            font-weight: 700;
          }
      }

      .views-field-body{
        display: inline-block;
        position: absolute;
        left: 15%;
        top: 25%;

        .field-content{
          display: inline-block;
          font-size: $fs-md;
          color: $dark-text;

          .btn{
            @extend .button;
            border: 0 none;
            margin-top: 25px;
          }
        }
      }

      .views-field-field-slider-image{
          .img-responsive{
            width: 100%;
          }
      }
    }
  }

  .carousel-control{
    .icon-prev, .icon-next{
      &:before{
        border: 2px solid $default-text;
        border-radius: 50px;
        display: inline-block;
        width: 30px;

      }
    }
  }
}