.page-home {
  .page-header {
    display: none;
  }

  .navbar>.container {
    border-bottom: 0 none;
  }

  .main.container{
    width: 100%;
    padding: 0;
    margin: 0 auto;

    .row>section{
      padding: 0;
    }
  }
}