.page-node-96 {
  @extend .whiteInnerPageWithHeader;
  article {

    .field-name-body {
      h2 {
        text-transform: uppercase;
        font-family: "RobotoRegular", 'Helvetica', sans-serif;
        font-weight: 700;
        margin-bottom: 5px;
      }

      h3 {
        font-size: $fs-md;
        margin-bottom: 5px;
      }

      p {
        margin-bottom: 5px;
        letter-spacing: 1px;
        word-spacing: 1px;
      }
    }
  }
}