.table-striped-custom{
   tr{

      &:nth-child(odd){
        background: transparent;
      }

      &:nth-child(even){
        background: $table-white-stripe;
      }

      th{
        width: 25%;
        font-family: "RobotoBoldItalic", 'Helvetica', 'sans-serif';
        font-style: italic;
        font-weight: 700;
        font-size: $fs-md;
        padding: 15px;
        border: 0 none;
      }

      td{
        width: 25%;
        @include paragraphText();
        vertical-align: middle;
        border: 0 none;
        padding: 15px;
        font-size: $fs-md - 2;
        word-spacing: normal;
        letter-spacing: normal;
        font-family: "RobotoLight", 'Helvetica', 'sans-serif';

        a{
          @extend .button-rectangle, .btn-white, .btn-transparent-rounded;
          line-height: 1.25;
          width: auto;
        }

        &:nth-child(1){
          font-family: "RobotoRegular", 'Helvetica', 'sans-serif';
          font-weight: 400;
        }

        i:before{
          font-size: 60px !important;
        }
      }
    }
}