.page-trade-accounts{
  @extend .blackInnerPageWithHeader;

  .pane-1{
    border: 1px dashed $error;
    padding: 50px;
    text-align: center;
    margin-bottom: 25px;

    .pane-title{
      text-transform: uppercase;
      color: $page-header;
      font-size: $fs-title;
      margin-bottom: 15px;
    }

    .text-bold{
      font-weight: 700;
    }

    .pane-content{
      .proposal{
        overflow: hidden;

        li{
          @extend %col-6;
          display: inline-block;
          font-size: $fs-md;
          font-family: "RobotoLight", 'Helvetica', sans-serif;
          font-weight: 100;
          letter-spacing: 1.5px;
          word-spacing: 2px;
          vertical-align: baseline;

        }

        &_rich{
          content: '';
          display: inline-block;
          font-size: $fs-md;

        }

        &_experienced{
          &:before{
            content: '';
            font-size: $fs-md;
            display: inline-block;
          }
        }
      }

      .conditions{
        margin-top: 25px;
        text-align: left;
        display: block;
        color: $border-color;
        font-size: $fs-sm;
        font-family: "RobotoLight", 'Helvetica', 'sans-serif';
        font-style: italic;

        &:before{
          content: '*';
          display: inline-block;
          word-spacing: 2px;
        }

        a{
          display: inline-block;
          font-weight: 700;
          text-decoration: underline;
          color: $border-color;
          font-family: "RobotoRegular", 'Helvetica', 'sans-serif';
          font-style: normal;
        }
      }
    }
  }

  .pane-2{

    .pane-title{
      text-transform: uppercase;
      color: $page-header;
      font-size: $fs-title;
      margin-bottom: 15px;
      text-align: center;
    }

    .pane-content{
        table{
          @extend .table-striped-custom;
        }
    }
  }
}