.page-trade-accounts, page-selection_program {
  @extend .blackInnerPageWithHeader;

  .main-container {

    #page-header{
      display: block;
      background: transparent url('../images/analytics_header.jpg') no-repeat scroll left center;
      background-size: cover;
      width: 100%;
      min-height: 255px;
    }

    &>.row:before {
      display: none;
    }
  }

  .page-header {
    display: block;
    position: absolute;
    color: white;
    text-align: center;
    top: -230px;
    width: 100%;
    font-size: $fs-lg;
  }

  .pane-1 {
    border: 1px dashed $error;
    padding: 50px;
    text-align: center;
    margin-bottom: 25px;

    .pane-title {
      text-transform: uppercase;
      color: $page-header;
      font-size: $fs-title;
      font-family: "RobotoLight", 'Helvetica', sans-serif;
      margin-bottom: 15px;
    }

    .text-bold {
      font-weight: 700;
      font-family: "RobotoBold", 'Helvetica', sans-serif;
    }

    .pane-content {
      .proposal {
        overflow: hidden;

        li {
          @extend %col-6, %col-md-6, %col-sm-6;
          display: inline-block;
          font-size: $fs-md;
          font-family: "RobotoThin", 'Helvetica', sans-serif;
          font-weight: 100;
          letter-spacing: 1.5px;
          word-spacing: 2px;
          vertical-align: baseline;

          @include max-screen($tablet){
            font-size: 12px;
            padding: 0;
          }

          &.proposal_rich {
            &:before{
              content: '';
              display: inline-block;
              font-size: $fs-md;
              background: transparent url('../images/pngIcons/accounts/proposal_rich.png') no-repeat scroll 75% center;
              background-size: 50% 50%;
              width: 108px;
              height: 90px;
              margin-right: 10px;
              vertical-align: middle;
            }
          }

          &.proposal_experienced {
            &:before {
              content: '';
              display: inline-block;
              font-size: $fs-md;
              background: transparent url('../images/pngIcons/accounts/proposal_experienced.png') no-repeat scroll 75% center;
              background-size: 50% 50%;
              width: 92px;
              height: 90px;
              margin-right: 10px;
              vertical-align: middle;
            }
          }
        }
      }

      .conditions {
        margin-top: 25px;
        text-align: left;
        display: block;
        color: $border-color;
        font-size: $fs-sm;
        font-family: "RobotoLightItalic", 'Helvetica', 'sans-serif';
        font-style: italic;
        letter-spacing: 1.5px;
        word-spacing: 2px;

        &:before {
          content: '*';
          display: inline-block;
          word-spacing: 2px;
        }

        a {
          display: block;
          font-weight: 700;
          width: auto;
          line-height: 2.5;
          text-decoration: underline;
          color: $border-color;
          font-family: "RobotoBold", 'Helvetica', 'sans-serif';
          font-style: normal;
        }
      }
    }
  }

  .pane-2 {

    .pane-title {
      text-transform: uppercase;
      color: $page-header;
      font-size: $fs-title;
      margin-bottom: 15px;
      text-align: center;
    }

    .pane-content {
      table {
        @extend .table-striped-custom;

        th{
          &:before{
            margin-right: 10px;
            color: $icon-color;
            font-size: 30px;
            margin-left: -30px;
          }

          &:nth-of-type(2){
            &:before{
              @extend .icon, .icon-start;
            }
          }

          &:nth-of-type(3){
            &:before{
              @extend .icon, .icon-standard;
            }
          }

          &:nth-of-type(4){
            &:before{
              @extend .icon, .icon-premium;
            }
          }
        }

        tr:nth-child(2) {
          width: 25%;
          font-family: "RobotoBold", 'Helvetica', 'sans-serif' !important;
          font-weight: 700 !important;
          font-size: $fs-md;
          padding: 15px;
          border: 0 none;
        }
      }
    }
  }
}
