.page-trade-accounts {
  @extend .blackInnerPageWithHeader;

  .main-container {

    #page-header{
      display: block;
      background: transparent url('../images/plans_header.png') no-repeat scroll left center;
      background-size: cover;
      width: 100%;
      min-height: 250px;
    }

    &>.row:before {
      display: none
    }
  }

  .page-header{
    position: absolute;
    top: -200px;
    display: block;
    width: 100%;
    text-align: center;
    border-bottom: 0 none;
    padding: 0;
    color: white;
    font-size: $fs-lg;
    font-family: "RobotoBold", "Arial", "opensans";
    font-weight: 700;
    text-transform: uppercase;
  }

  .pane-1 {
    border: 1px dashed $error;
    padding: 50px;
    text-align: center;
    margin-bottom: 25px;

    .pane-title {
      text-transform: uppercase;
      color: $page-header;
      font-size: $fs-title;
      font-family: "RobotoLight", 'Helvetica', sans-serif;
      margin-bottom: 15px;
    }

    .text-bold {
      font-weight: 700;
      font-family: "RobotoBold", 'Helvetica', sans-serif;
    }

    .pane-content {
      .proposal {
        overflow: hidden;

        li {
          @extend %col-6;
          display: inline-block;
          font-size: $fs-md;
          font-family: "RobotoThin", 'Helvetica', sans-serif;
          font-weight: 100;
          letter-spacing: 1.5px;
          word-spacing: 2px;
          vertical-align: baseline;

        }

        &_rich {
          content: '';
          display: inline-block;
          font-size: $fs-md;

        }

        &_experienced {
          &:before {
            content: '';
            font-size: $fs-md;
            display: inline-block;
          }
        }
      }

      .conditions {
        margin-top: 25px;
        text-align: left;
        display: block;
        color: $border-color;
        font-size: $fs-sm;
        font-family: "RobotoLightItalic", 'Helvetica', 'sans-serif';
        font-style: italic;
        letter-spacing: 1.5px;
        word-spacing: 2px;

        &:before {
          content: '*';
          display: inline-block;
          word-spacing: 2px;
        }

        a {
          display: inline-block;
          font-weight: 700;
          text-decoration: underline;
          color: $border-color;
          font-family: "RobotoBold", 'Helvetica', 'sans-serif';
          font-style: normal;
        }
      }
    }
  }

  .pane-2 {

    .pane-title {
      text-transform: uppercase;
      color: $page-header;
      font-size: $fs-title;
      margin-bottom: 15px;
      text-align: center;
    }

    .pane-content {
      table {
        @extend .table-striped-custom;

        tr:nth-child(2) {
          width: 25%;
          font-family: "RobotoBold", 'Helvetica', 'sans-serif';
          font-style: italic;
          font-weight: 700;
          font-size: $fs-md;
          padding: 15px;
          border: 0 none;
        }
      }
    }
  }
}
