.page-trade-sterling {
  @extend .blackInnerPage;

  .main-container {
    background: $primary-bg;

    &>.row{
      padding-top: 10px;
    }

    &>.row:before {
      display: none;
    }

    .region-sidebar-second {
      margin-top: 35px;
    }

    .page-header {
      border-bottom: 0 none;
      margin: 0;
      color: $page-header;
      font-size: $fs-lg;
      font-family: "RobotoLight";
      text-align: left;
      text-transform: uppercase;

      &:before{
        content: '';
        display: inline-block;
        font-size: $fs-md;
        background: transparent url('../images/pngIcons/sterling.png') no-repeat scroll 75% bottom;
        background-size: 50%;
        width: 108px;
        height: 90px;
        margin-right: 5px;
        vertical-align: bottom;
      }
    }

    .bottom-header-text {
      font-size: $fs-title;
      font-family: "RobotoRegular";
      font-weight: 700;
      margin: 50px 0 10px 0;
    }

    .pane-2 {
      margin: 20px 0;
      padding-left: 100px;

      &:before {
        content: '';
        display: inline-block;
        font-size: $fs-md;
        background: transparent url('../images/pngIcons/downloadIcon.png') no-repeat scroll 75% center;
        background-size: 50%;
        width: 108px;
        height: 90px;
        margin-right: 10px;
        vertical-align: middle;
        margin-left: -118px;
      }

      .pane-content {
        display: inline-block !important;
        vertical-align: middle;
        p {
          margin: 0;

          &:first-child {
            font-family: "RobotoBold";
            font-size: $fs-title;
          }

          font-family: "RobotoLight";
          font-size: $fs-md;
          vertical-align: middle;
        }
      }
    }

    .pane-3, .pane-5{
      padding-left: 100px;

      .pane-title {
        color: $contacts-icon;
        font-family: "RobotoLight";
        font-size: $fs-lg;
        text-transform: uppercase;
        margin: 40px 0;
      }
    }

    .pane-5{
      padding-left: 0;

      .pane-title{
        padding-left: 100px;
      }
    }

    .advantages_list {

      &-item {
        display: block;
        margin-bottom: 15px;

        &:before{
          content: '';
          display: inline-block;
          background: transparent url('../images/pngIcons/listItemStyleIcon.png') no-repeat scroll center;
          background-size: cover;
          width: 20px;
          height: 10px;
          margin: 5px 15px 0 0;
          position: absolute;
          left: 70px;
          line-height: 30px;
        }

        p{
          display: inline !important;
          font-family: "RobotoLight", "Helvetica", "sans-serif";
          font-size: $fs-md;
          color: $secondary-text;
        }
      }
    }

    .pane-custom.pane-4{
      margin-top: 25px;
      padding-left: 100px;

      .pane-content{
        .text{
          padding-left: 0;
        }
      }
    }

    .pane-custom {

      .pane-content {
        display: block;

        .img-wrapper {
          width: 100%;
          min-height: 525px;
          background: url('../images/sterling_macbook.png') no-repeat, scroll, left top;
          background-size: 100%;
        }

        p {
          display: block;
          font-size: $fs-md - 2;
          font-weight: 200;
          font-family: "RobotoLight";
          //word-spacing: 1.5px;
          //letter-spacing: 1.5px;

          a {
            color: $contacts-icon;
          }
        }

        .text {
          font-size: $fs-md;
          font-family: "RobotoMedium";
          color: $secondary-text;
          margin-bottom: 20px;
          padding-left: 100px;

          &-bold {
            font-family: "RobotoBold";
            color: white;
            font-size: $fs-title;
          }

          &-lg {
            font-size: $fs-lg;
          }

        }

        table {
          @extend .table-striped-custom;
          tr {
            &:nth-child(1){
              &:nth-child(1) {
                p{
                  font-family: "RobotoBold";
                }
              }

              &:nth-child(2) {
                p{
                  font-family: "RobotoBold";
                }
              }
            }

            td {
              &:nth-child(1) {
                padding-left: 100px;
                p{
                  font-family: "RobotoLight";
                }
              }

              &:nth-child(2) {
                p{
                  font-family: "RobotoMedium";
                }
              }
            }
          }
        }
      }
    }
  }
}
