.page-trade-tradeup {
  @extend .blackInnerPage;

  .main-container {
    background: $primary-bg;

    & > .row:before {
      display: none;
    }

    & > .row {
      padding-top: 10px;
    }

    .region-sidebar-second {
      margin-top: 35px;
    }

    .page-header {
      color: $contacts-icon;
      font-size: $fs-lg;
      text-transform: uppercase;
      margin: 0;
      font-family: "RobotoLight", "Helvetica", "opensans";

      &:before {
        content: '';
        display: inline-block;
        font-size: $fs-md;
        background: transparent url('../images/pngIcons/tradeUp.png') no-repeat scroll 75% bottom;
        background-size: 50%;
        width: 101px;
        height: 90px;
        margin-right: 5px;
        vertical-align: bottom;
      }
    }

    .pane-1 > .pane-content {
      padding-left: 95px;
      margin-top: 25px;
      p {
        font-weight: 700;
        letter-spacing: 5px;
        word-spacing: 5px;
        font-family: "RobotoBold";
        color: white;
        font-size: $fs-lg;
      }

      h2 {
        &:first-child {
          font-family: "RobotoBold";
        }
      }
    }

    .pane-2:before {
      display: none !important;
    }

    .pane-2, .pane-3, .pane-4, .pane-5, .pane-6, .pane-7, .pane-8, .pane-9 {
      padding-left: 95px;
      margin-bottom: 20px;

      &:before {
        content: '';
        display: inline-block;
        background: transparent url('../images/pngIcons/listItemStyleIcon.png') no-repeat scroll center;
        background-size: 100%;
        width: 20px;
        height: 10px;
        margin: 5px 15px 0 0;
        position: absolute;
        left: 60px;
        line-height: 30px;
      }

      .pane-title {
        display: inline;
        font-size: $fs-md;
        font-family: "RobotoBold";
        font-weight: 700;
        line-height: 2;
      }

      .pane-content {
        display: inline;
        margin-left: 5px;

        p {
          display: inline;
          font-family: "RobotoLight", "Helvetica", "sans-serif";
          font-size: $fs-md;
          color: $default-text;
          line-height: 2;
          letter-spacing: 1.5px;
          word-spacing: 2px;

        }
      }
    }

    .header-text {
      color: $contacts-icon;
      font-size: $fs-lg;
      text-transform: uppercase;
      margin: 25px 0;
      font-family: "RobotoLight", "Helvetica", "opensans";
    }

    .bottom-header-text {
      font-size: $fs-title;
      font-family: "RobotoBold";
      font-weight: 700;
      margin: 50px 0 0 0;
    }

    .pane-custom {
      .pane-title {
        font-size: $fs-md - 2;
        font-weight: 700;
        color: #fff;
      }

      .pane-content {

        .text {
          font-size: $fs-md;
          font-family: "RobotoMedium";
          font-weight: 700;
          padding-left: 95px;
          line-height: 2;

          &-bold {
            font-family: "RobotoBold";
            color: white;
            font-size: $fs-title;
          }

          &-lg {
            font-size: $fs-lg;
          }

          &-title {
            color: white;
            font-family: "RobotoLight";
            font-size: $fs-lg;
            text-transform: uppercase;
            margin: 25px 0 0 0;
          }

          &-blue {
            color: $contacts-icon;
          }

          &-panel-title {
            font-size: 30px;
          }
        }

        .img-wrapper {
          width: 100%;
          min-height: 525px;
          background: url('../images/tradeup_macbook.png') no-repeat, scroll, left top;
          background-size: 100%;
        }
      }
    }
  }

}