footer.footer {
  padding: 40px 100px;
  margin-top: 0;
  overflow: hidden;

  @include max-screen($max-tablet){
    padding: 20px;
  }

  .logo {
    @extend %col-2, %col-md-3, %col-sm-12;
    overflow: hidden;
    height: 70px;
    display: inline-block;
    margin: 0 !important;
    background: url("../images/pngIcons/fondex_logo.png") no-repeat;
    background-size:  70%;
    background-position:  50% 35%;
    //stub!!!
    img {
      display: none;
    }

    @include max-screen($max-tablet){
      height: 90px;
    }

    @include max-screen($max-mobile){
      display: none;
    }
    //svg{
    //  margin-top: -90px;
    //}
  }

  .nav {
    @extend %col-8, %col-md-7, %col-sm-12;
    display: inline-block;
    margin: 0 !important;
    padding: 10px;
    vertical-align: baseline;


    li{
      display: inline-block;
      font-size: $fs-md;

      &.first, &.last{
        display: none;
      }

      a{
        color: $default-text;
        text-decoration: none;
        text-transform: uppercase;
        transition: all .3s ease;
        padding: 10px;
        letter-spacing: 1px;
        font-family: "RobotoLight", "Helvetica", "sans-serif";

        &:hover, &:focus {
          color: $dark-text;
        }

        &>.caret{
          display: none;
        }
      }
    }
  }

  .social-icons {
    @extend %col-2, %col-md-2, %col-sm-12;
    text-align: right;

    li {
      @extend %col-3, %col-md-6, %col-sm-6;
      padding: 10px;

      a {
        display: block;
        text-decoration: none;
        color: white;
        transition: all .4s ease;
        text-align: center;

        &:hover, &:focus{
          color: $contacts-icon;
        }

        i:before{
          font-size: $fs-md;
          line-height: 2.5;
          font-size: $fs-md;
        }
      }
    }
  }

  .container {
    @extend %col-12;
    border-top: 2px solid $primary-color;
    padding: 20px;
  }

  .footer_description {
    font-family: 'RobotoThinItalic', 'Helvetica', 'opensans';
    @include paragraphText();
    font-size: $fs-sm;
    font-style: italic;
    color: $footer-text-color;
  }

  #block-block-3{
    @extend %col-9;
  }

  #block-block-4 {
    @extend %col-3;

    & > p {
      font-size: $fs-md - 2;
      word-spacing: 2px;
      letter-spacing: 1px;
      text-align: right;
      font-weight: 500;
      font-family: 'RobotoMedium', 'Helvetica', 'opensans';
      color: $border-color;
    }
  }
}