.page-study-pro{
  @extend .blackInnerPage;
  .main-container {
    background: rgba(0, 0, 0, 0.5) url('../images/bg_inner_empire_state.jpg');
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-attachment: scroll;
    background-size: 100% 100%;

    .course{

      &_text{
        color: $secondary-text;
        font-size: $fs-md - 2;
        font-family: "RobotoLight", "Helvetica", "opensans";
        font-weight: 400;
        letter-spacing: 1px;
        word-spacing: 1.5px;
        line-height: 1.25;

        &-bold{
          font-family: "RobotoBold", "Helvetica", "opensans";
          font-weight: 700;
        }
      }

      &_header-text{
        color: $contacts-icon;
        font-size: $fs-md;
        text-transform: uppercase;
        margin: 25px 0;
        line-height: 1.25;
      }

      &_list-header{
        font-size: $fs-title;
        font-family: "RobotoBold", "Helvetica", "sans-serif";
        font-weight: 700;
        margin: 25px 0;
        line-height: 1.25;
      }

      &_skills-list{
        li{
          display: block;
          margin-bottom: 10px;

          &:before{
            content: '';
            display: inline-block;
            background: transparent url('../images/pngIcons/listItemStyleIcon.png') no-repeat scroll center;
            background-size: cover;
            width: 20px;
            height: 10px;
            margin: 5px 5px 0 0;
            position: absolute;
            left: -30px;
            line-height: 30px;
          }

          p{
            font-family: "RobotoLight", "Helvetica", "sans-serif";
            font-size: $fs-md - 2;
            letter-spacing: 1px;
            word-spacing: 1.5px;
          }
        }
      }

      &_btn{
        @extend .button, .button-sm;
        margin: 25px 0 0 0;
      }
    }

    a{
      text-decoration: none;
    }

    .pane-title{
      color: $contacts-icon;
      font-family: "RobotoBold", "Helvetica", "sans-serif";
      font-size: $fs-md;
      margin: 0 0 25px 0;
      line-height: 1.25;
    }

    ol>li>p{
      color: $secondary-text;
      font-size: $fs-md - 2;
      font-family: "RobotoLight", "Helvetica", "opensans";
      font-weight: 400;
      letter-spacing: 1px;
      line-height: 1.25;
      word-spacing: 1.5px;
    }

    form{
      text-align: center;

      .form-control{
        display: inline-block;
        width: 23%;
        background: transparent;
        border: 1px solid $border-color;
        height: 60px;
        padding: 20px;
        font-size: $fs-title;
        color: $border-color;
        border-radius: 0;
        font-family: "RobotoLightItalic";

        margin: 20px 1.5% 20px 0;

        &:last-child{
          margin-right: 0;
        }
      }

      input[type='submit']{
        @extend .button, .button-transparent-white;
        width: auto !important;
        line-height: 1;
      }
    }
  }
}