@mixin pagination(){

  &>.text-center{
    background: rgba(73, 71, 77, 0.6);
    border-radius: 2px;
  }

  .pagination{
    margin: 0;
    li{
      display: inline-block;
      background: transparent;

      &.next, &.pager-last{
        border-left: 2px solid #383639;
      }

      &.prev, &.pager-first{
        border-right: 2px solid #383639;
      }

      &.active{

        span{
          color: white;
          border-radius: 50%;
          border: 1px solid white;
          background: transparent;
          margin: 20px 5px;
          font-family: "RobotoMedium", "RobotoBold", "sans-serif";
        }
      }

      &>a{
        margin: 20px 5px;
        display: inline-block;
        color: $icon-color;
        text-decoration: none;
        background: transparent;
        // border: 0 none;
        background-image: none !important;
        font-family: "RobotoMedium", "RobotoBold", "sans-serif";
        border: 1px solid transparent;
        border-radius: 50%;

        &:hover, &:focus{
          color: darken(white, 20%);
          border-radius: 50%;
          border: 1px solid darken(white, 20%);
          background: transparent;
        }

        &:active{
          color: darken(white, 20%);
          border-radius: 50%;
          border: 1px solid darken(white, 20%);
          background: transparent;
        }

        &:before, &:after{
          background: transparent none !important;
          transition: none;
        }
      }
    }

    .next {
      a {
        span {
          display: none;
        }

        &:before {
          display: inline-block;
          content: '>'
        }
      }
    }

    .pager-last {
      a {
        span {
          display: none;
        }

        &:before {
          display: inline-block;
          content: '>>'
        }
      }
    }

    .prev {
      a {
        span {
          display: none;
        }

        &:before {
          display: inline-block;
          content: '<'
        }
      }
    }

    .pager-first {
       a {
         padding: 8px 12px;

         span {
           display: none;
         }

         &:before {
           display: inline-block;
           content: '<<'
         }
       }
    }

    .pager-ellipsis.disabled {
      display: none;
    }
  }
}

// fix image on ajax pagination
.ajax-progress-throbber { display: none}
