.pane-views-articles-block-1 {
  @extend %col-4;
  max-width: none;
  margin: 0;
  padding: 0;

  &:before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 50px;
    border-bottom: 2px solid $border-color;
    margin-top: $fs-md /2;
    left: -60px;
  }

  .pane-title {
    color: $page-header;
    font-size: $fs-md;
    text-transform: uppercase;
    font-family: "RobotoBold";
  }

  .node-teaser {
    padding:  0 20px 0 0;

    h2{
      a{
        text-transform: uppercase;
        font-family: "RobotoLight", 'Helvetica', sans-serif;
        font-weight: 400;
        font-size: $fs-title;
        color: $secondary-text;

        &:hover, &:focus{
          color: white;
        }
      }
    }

    p{
      font-family: "RobotoLight", 'Helvetica', sans-serif;
      font-size: $fs-md;
      margin: 5px 0;
      color: $secondary-text;
    }

    .read-more{
      display: inline-block;
      font-family: "RobotoBold", 'Helvetica', sans-serif;
      font-size: $fs-md;
      margin: 10px 0;
      text-transform: uppercase;
      color: white;
    }

    .submitted{
      color: $hint-text;
      font-size: $fs-sm;
      display: inline-block;
      margin: 10px 0 0;
    }
  }
}

.pane-views-analytics-block-1{
  @extend %col-8;
  max-width: none;
  margin: 0;
  padding: 0;

  .views-row{
    @extend %col-6;
    padding: 20px;

    .submitted{
      color: $hint-text;
      font-size: $fs-sm;
      display: inline-block;
      margin: 10px 0 0;
    }

    h2{
      a{
        text-transform: uppercase;
        font-family: "RobotoLight", 'Helvetica', sans-serif;
        font-weight: 400;
        font-size: $fs-title;
        margin: 10px 0;
        color: white;
      }
    }

    p{
      font-family: "RobotoLight", 'Helvetica', sans-serif;
      font-size: $fs-md;
      margin: 10px 0;
      color: white;
    }

    .read-more{
      display: inline-block;
      font-family: "RobotoBold", 'Helvetica', sans-serif;
      font-size: $fs-md;
      margin: 10px 0;
      text-transform: uppercase;
      color: white;
    }
  }
}