.page-node-179{
  @extend .whiteInnerPageWithHeader;

  ul{
    list-style-type: disc;
    list-style-position: inside;

    li{

      p{
        display: inline;
      }

      p>a{
        display: inline-block;
        color: $white-pages-text;
        text-decoration: underline;
      }
    }
  }

  table{
    @extend .table-striped-custom;
  }
}