.page-node-97{
    @extend .whiteInnerPageWithHeader;

    article{
      .field-name-body{

        ul{
          list-style-type: disc;
          list-style-position: inside;

          li{
            padding-left: 10px;

            p>a{
              display: inline-block;
              color: $white-pages-text;
              text-decoration: underline;
            }
          }
        }
      }
    }
}