.page-home {
  .pane-9 {
    display: block;
    width: 100%;

    &:before {
      content: '';
      display: inline-block;
      position: absolute;
      width: 50px;
      border-bottom: 2px solid $border-color;
      margin-top: $fs-md /2;
      left: -60px;
    }

    h2 {
      color: $page-header;
      font-size: $fs-md;
      text-transform: uppercase;
      font-family: "RobotoBold";
      text-align: left;
    }
  }

  .panels-flexible-row-7-1 {
    background-image: url('../images/bg_main.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: right bottom;
    background-size: 100% 100%;

    .nav-tabs{
      border-bottom: 0 none;

      li{
        &:first-child{
          &:before{
            margin-right: 10px;
            color: $icon-color;
            font-size: 30px;
            margin-left: -30px;
          }
        }

        &:nth-of-type(1){
          &:before{
            @extend .icon, .icon-start;
          }
        }

        &:nth-of-type(2){
          &:before{
            @extend .icon, .icon-standard;
          }
        }

        &:nth-of-type(3){
          &:before{
            @extend .icon, .icon-premium;
          }
        }
      }
    }

    .nav-li {
      @extend %col-4;
      background: rgba(200, 200, 200, 0.3);
      text-align: center;

      a {
        display: inline-block;
        text-decoration: none;
        color: $divider;

        &:hover, &:focus {
          background: transparent;
          color: $border-color;
          border: 0 none;
        }
      }

      &.active {
        background: rgba(200, 200, 200, 0.4);

        a {
          background: transparent;
          border: 0 none;
          color: $border-color;

          &:hover, &:focus {
            background: transparent;
            color: $border-color;
            border: 0 none;
          }
        }
      }

    }

    .pane-content {
      padding: 25px;
      ul {
        li {
          display: block;
          margin-bottom: 10px;
          color: $secondary-text;
          font-size: $fs-md;
          font-family: "RobotoBold", "Helvetica", "opensans";
          font-weight: 700;
          line-height: 1.25;

          &:before {
            content: '';
            display: inline-block;
            background: transparent url('../images/pngIcons/listItemStyleIcon.png') no-repeat scroll center;
            background-size: cover;
            width: 20px;
            height: 10px;
            margin: 5px 5px 0 0;
            position: absolute;
            left: -20px;
            line-height: 30px;
          }
        }
      }

      p {
        text-align: center;
        .btn {
          @extend .button;
          margin: 10px;
          border: 0 none;
        }
      }
    }
  }
}