.page-home {
  .pane-9 {
    display: block;
    width: 100%;
    padding: 0 80px;
    overflow: hidden;

    @include max-screen($max-mobile){
      padding: 20px 0 0 40px;
    }

    &:before {
      content: '';
      display: inline-block;
      position: absolute;
      width: 40px;
      border-bottom: 2px solid $border-color;
      margin-top: $fs-md /2 +2;
      left: 0;

      @include max-screen($max-mobile){
        width: 20px;
      }
    }

    h2 {
      color: $page-header;
      font-size: $fs-md;
      text-transform: uppercase;
      font-family: "RobotoBold";
      text-align: left;
    }
  }

  .panels-flexible-row-7-1 {
    padding: 20px 80px;

    @include max-screen($max-mobile){
      padding: 20px;
    }

    .nav-tabs {
      border-bottom: 0 none;

      li {
        @include max-screen($max-mobile){
          @extend %col-md-4, %col-sm-4;
        }

        a:before {
          color: $icon-color;
          font-size: 45px;
          display: block;

          @include max-screen($max-mobile){
            font-size: 40px;
          }
        }

        &:nth-of-type(1) {
          a:before {
            @extend .icon, .icon-start;

          }
        }

        &:nth-of-type(2) {
          a:before {
            @extend .icon, .icon-standard;

          }
        }

        &:nth-of-type(3) {
          a:before {
            @extend .icon, .icon-premium;

          }
        }
      }
    }

    .nav-li {
      @extend %col-4;
      background: rgba(75, 74, 81, 0.5);
      text-align: center;

      a {
        display: inline-block;
        width: 100%;
        text-align: center;
        text-decoration: none;
        color: $divider;
        padding: 10px;

        @include max-screen($max-mobile){
          padding: 10px 0;
        }

        &:hover, &:focus {
          background: transparent;
          color: $border-color;
          border: 0 none;
        }

        h2 {
          font-size: $fs-md;
          color: $divider;
          font-family: "RobotBold", "RobotoMedium", "sans-serif";
          text-transform: uppercase;

          @include max-screen($max-mobile){
            font-size: $fs-sm;
          }
        }
      }

      &.active {
        background: rgba(86, 83, 95, 0.5);

        a {
          background: transparent;
          border: 0 none;
          color: $border-color;

          &:hover, &:focus {
            background: transparent;
            color: $border-color;
            border: 0 none;
          }
        }
      }

    }

    .pane-content {
      padding: 25px;

      ul {
        li {
          display: block;
          margin-bottom: 10px;
          color: $secondary-text;
          font-size: $fs-md;
          font-family: "RobotoLight", "Helvetica", "opensans";
          font-weight: 700;
          line-height: 1.5;
          letter-spacing: 1.5px;
          word-spacing: 1.75px;

          &:before {
            content: '';
            display: inline-block;
            background: transparent url('../images/pngIcons/listItemStyleIcon.png') no-repeat scroll center;
            background-size: cover;
            width: 20px;
            height: 10px;
            margin: 5px 5px 0 0;
            position: absolute;
            left: -20px;
            line-height: 30px;
          }
        }
      }

      p {
        text-align: center;
        .btn {
          @extend .button;
          margin: 10px;
          border: 0 none;
        }
      }

      p > svg{
        width: 150px;

        @include max-screen($max-mobile){
          display: none;
        }
        
        path, g {
          fill: white;
        }
      }
      .tab_price {
        font-size: 30px;
        font-family: "RobotoBold", "Helvetica", "opensans";
        font-weight: 700;
        line-height: 1.5;
        letter-spacing: 1.5px;
        word-spacing: 1.75px;
        color: $contacts-icon;
      }

      p>img{
        @include max-screen($max-tablet){
          display: none;
        }
      }
    }
  }
}