.page-analytics{
  @extend .blackInnerPageWithHeader;

  .node-analytics{
    margin: 20px 0;

    h2{
      a{
        text-transform: uppercase;
        font-family: "RobotoLight", 'Helvetica', sans-serif;
        font-weight: 400;
        font-size: $fs-title;
        margin: 10px 0;
        color: white;
      }
    }

    p{
      font-family: "RobotoLight", 'Helvetica', sans-serif;
      font-size: $fs-md;
      margin: 10px 0;
      color: white;
    }

    .read_more{
      display: inline-block;
      font-family: "RobotoBold", 'Helvetica', sans-serif;
      font-size: $fs-md;
      margin: 10px 0;
      text-transform: uppercase;
      color: white;
    }
  }
}