.page-analytics-traderhub {

  @extend .blackInnerPage;

  .page-header {
    display: none;
  }

  .main-container {
    background-image: url('../images/bg_main.jpg');
    background-position: right bottom;
    background-size: 100% 25%;

    &:before {
      display: none;
    }

    & > .row {
      padding: 0 !important;
    }
  }

  #panels-ipe-paneid-1, .pane-1 {
    background-image: url('../images/analytics_ipad.png'), linear-gradient(to right, #e0eafc 0%, #cfdef3 100%);
    background-position: 85% 50%, left top;
    background-repeat: no-repeat, repeat;
    background-attachment: scroll, scroll;
    background-size: 550px 400px, cover;
    padding: 0 80px;
    min-height: 600px;


    @include max-screen($max-tablet){
      background-image: linear-gradient(to right, #e0eafc 0%, #cfdef3 100%);
      background-position: left top;
      background-repeat: repeat;
      background-attachment: scroll;
      background-size: cover;
      padding: 0;
      min-height: 600px;
    }

    .pane-title {
      padding: 100px 0 0 0;
      font-size: $fs-lg;
      font-family: "RobotoLight", "opensans", "sans-serif";
      font-weight: 200;
      word-spacing: 3px;
      letter-spacing: 1.5px;
      color: $analytics-text;

      @include max-screen($max-tablet){
        margin-left: 25%;
      }
    }

    .pane-content {
      width: 400px;

      @include max-screen($max-tablet){
        margin-left: 25%;
      }

      @include max-screen($max-mobile){
        margin-left: 0;
        width: 100%;
        padding: 0 20px;
        text-align: center;
      }
    }

    .analytics-text {
      font-size: $fs-md;
      font-weight: 500;
      font-family: "RobotoMedium", "Helvetica", "sans-serif";
      color: $analytics-text;
      margin: 50px 0;
    }

    .analytics-secondary-text {
      font-size: $fs-md;
      font-weight: 500;
      font-family: "RobotoMedium", "Helvetica", "sans-serif";
      color: #747783;

      &:before {
        content: '';
        display: inline-block;
        border-top: 1px solid $analytics-text;
        width: 150px;
        height: 0;
        margin-right: 10px;
        padding-top: 4px;
      }
    }

    .btn-wrapper {

      &.login {
        a {
          @extend .button;
          height: 40px;
          margin: 10px 0;
        }
      }

      &.test-login {
        a {
          font-family: "RobotoRegular", "Helvetica", "sans-serif";
          color: #747783;
        }
      }
    }

  }

  #panels-ipe-paneid-2, .pane-2 {
    min-height: 750px;
    background: url('../images/analytics_steps.jpg') no-repeat, scroll, left top;
    background-size: cover;

    @include max-screen($max-tablet){
      display: none;
    }
  }

  #panels-ipe-paneid-3, .pane-3 {
    min-height: 200px;
    background: url('../images/base_course_header.png') no-repeat, scroll, left top;
    background-size: cover;
    padding: 25px 80px;
    text-align: center;

    .pane-title {
      margin-top: 0;
      border-bottom: 0 none;
      color: $page-header;
      font-size: $fs-lg;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      font-family: "RobotoLight", "opensans", "sans-serif";
    }

    h3 {
      font-family: "RobotoRegular", "opensans", "sans-serif";
      font-weight: 400;
      word-spacing: 2px;
      color: #f8f8f8;
      letter-spacing: 1.5px;
      margin: 15px 0 25px 0;
    }

    .btn-wrapper {
      margin-top: 10px;

      &.get-more {
        a {
          @extend .button, .button-transparent;
          border-color: white;
          color: white;
          line-height: 40px;

          img{
            width: 40px;
            height: 40px;
          }

          svg{
            width: 32px;
            height: 32px;
            margin-top: 6px;

            .arrow{
              fill:#fff;
            }

            .arrow-bg{
              fill: transparent;
            }

            .arrow-border{
              fill:#fff;
            }
          }

          &:hover, &:focus {
            color: $dark-text;
            background: white;

            svg{
              .arrow, .arrow-border{
                fill: $white-pages-text;
              }

            }
          }
        }
      }
    }
  }

  .pane-webform-client-block-180 {
    min-height: 200px;
    padding: 20px 80px;
    text-align: center;

    .pane-title {
      display: none;
    }

    .webform-component {
      display: inline-block;
      width: 23%;

      @include max-screen($max-mobile){
        width: 100%;
      }

      .form-required {
        display: none;
      }

      margin: 20px 1.5% 20px 0;

      &:last-child {
        margin-right: 0;
      }
    }

    .form-control {
      display: inline-block;
      width: 95%;
      background: transparent;
      border: 1px solid $border-color;
      height: 60px;
      padding: 20px;
      font-size: $fs-title;
      color: $border-color;
      border-radius: 0;
      font-family: "RobotoLightItalic";
    }

    .control-label {
      margin-top: 5px;
      font-family: "RobotoLightItalic", "Helvetica", "sans-serif";
    }

    .webform-component.webform-component--files {
      @extend %col-4, %col-md-4,%col-sm-12;
      margin: 5px 0;
      text-align: center;

      .req-docs {

        li {
          display: inline-block;
        }
        a {
          color: transparent;
          width: 35px;
          display: inline-block;

          &:before {
            content: "";
            display: inline-block;
            background: transparent url('../images/pngIcons/downloadDocument.png') no-repeat scroll center;
            font-size: 24px;
            height: 33px;
            width: 24px;
          }
        }
      }
    }

    .webform-component.webform-component-checkboxes {
      @extend %col-8;
      margin: 5px 0 !important;
      text-align: center;
    }

    .webform-component--otkuda-prishel {
      display: none;
    }

    .form-actions {
      overflow: hidden;
      position: relative;
      display: block;
      width: 100%;
    }

    input[type='submit'], .webform-submit {
      @extend .button, .button-transparent-white;
      line-height: 1;
    }
  }

  #panels-ipe-paneid-7, .pane-4{
    padding: 20px 80px 0;
    text-align: center;

    .pane-title{
      margin-top: 0;
      border-bottom: 0 none;
      color: $page-header;
      font-size: $fs-lg;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      font-family: "RobotoLight", "opensans", "sans-serif";
    }

    .pane-content{
      p{
        font-family: "RobotoMedium", "opensans", "sans-serif";
        word-spacing: 2px;
        color: #f8f8f8;
        letter-spacing: 1.5px;
        margin: 15px 0 15px 0;
        font-size: $fs-md;
        font-weight: 500;
      }
    }
  }
}