.page-node-95{
  @extend .whiteInnerPageWithHeader;

  .node-page{
    ul>li{
      padding: 10px;
      font-family: "RobotoLight", 'Helvetica', sans-serif;
      font-size: $fs-md;
      color: $white-pages-text;
    }
  }
}