.page-node-95 {
  @extend .whiteInnerPageWithHeader;

  .node-page {
    ul {
      list-style-type: disc;
      list-style-position: inside;

      li {
        padding: 0 10px;
        font-family: "RobotoLight", 'Helvetica', sans-serif;
        font-size: $fs-md;
        color: $white-pages-text;
      }
    }
  }
}