.node-type-article{
  @extend .whiteInnerPageWithHeader;

  #page-header{
    display: block;
    background: transparent url('../images/company_news_header.png') no-repeat scroll left center;
    background-size: cover;
    width: 100%;
    min-height: 250px;
  }

  .node-article {
    header {
      margin: 0;
      display: none;
    }

    h2 {
      a {
        text-transform: uppercase;
        font-family: "RobotoLight", 'Helvetica', sans-serif;
        font-weight: 400;
        font-size: $fs-title;
        color: $white-pages-text;

        &:hover, &:focus {
          color: lighten($white-pages-text, 20%);
        }
      }
    }

    .field-name-body {

      p {
        font-family: "RobotoLight", 'Helvetica', sans-serif;
        font-size: $fs-md;
        color: $white-pages-text;

        &:first-child{
          margin-top: 0;
        }
      }
    }

    span {
      display: inline-block;
      font-family: "RobotoBold", 'Helvetica', sans-serif;
      font-size: $fs-md;
      margin: 10px 0;
      text-transform: uppercase;
      color: $white-pages-text;
    }
  }

  //TODO REMOVE OR STYLE THIS SPAN
  .statistics_counter {
    display: none;
  }

  .submitted{
    color: $hint-text;
    font-size: $fs-sm;
    display: inline-block;
    margin: 10px 0;
  }

  .region-content ul.flippy{
    text-align: left;
    padding: 0;

    .prev, .next{
      a{
        display: inline-block;
        font-family: "RobotoBold", 'Helvetica', sans-serif;
        font-size: $fs-md;
        margin: 10px 0;
        text-transform: uppercase;
        color: $white-pages-text;
      }
    }
  }
}