.page-company-news{
   @extend .blackInnerPageWithHeader;

   .view-articles{
      margin-top: 10px;

      header{
         margin: 0;
      }

      h2{
         a{
            text-transform: uppercase;
            font-family: "RobotoLight", 'Helvetica', sans-serif;
            font-weight: 400;
            font-size: $fs-title;
            color: $secondary-text;

            &:hover, &:focus{
               color: white;
            }
         }
      }

      p{
         font-family: "RobotoLight", 'Helvetica', sans-serif;
         font-size: $fs-md;
         margin: 5px 0;
         color: $secondary-text;
      }

      .read-more{
         display: inline-block;
         font-family: "RobotoBold", 'Helvetica', sans-serif;
         font-size: $fs-md;
         margin: 10px 0;
         text-transform: uppercase;
         color: white;
      }

      .submitted{
         color: $hint-text;
         font-size: $fs-sm;
         display: inline-block;
         margin: 10px 0;
      }


   }

   .view-articles{
       @include pagination();
   }
}