.page-node-107 {
  @extend .whiteInnerPageWithHeader;

  ul{
    list-style-position: outside;
    list-style-type: disc;
  }

  h3 {

    text-transform: uppercase;
    font-family: "RobotoLight", 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: $fs-title;
    margin: 10px 0;
    color: $white-pages-text;

  }

  p {
    font-family: "RobotoLight", 'Helvetica', sans-serif;
    font-size: $fs-md;
    margin: 10px 0;
    color: $white-pages-text;
  }

  p > a {
    font-family: "RobotoLight", 'Helvetica', sans-serif;
    font-size: $fs-md;
    color: $white-pages-text;
    text-decoration: underline;
  }

  .field-content {
    a {
      display: inline-block;
      font-family: "RobotoLight", 'Helvetica', sans-serif;
      font-size: $fs-title;
      margin: 10px 0;
      color: $white-pages-text;
    }
  }

  .btn {
    @extend .button-rectangle;
    width: auto;
    height: auto;
    line-height: 2;
    font-size: $fs-md !important;
    opacity: 1 !important;
    cursor: default;
  }

  .node-webform {
    @extend %col-12;
    padding: 50px;

    @include max-screen($max-mobile){
      padding: 0;
    }

    h2 {
      text-transform: uppercase;
      font-family: "RobotoLight", 'Helvetica', sans-serif;
      font-weight: 400;
      font-size: $fs-title;
      margin: 10px 0;
      color: $white-pages-text;
    }

    .form-control{
      width: 100%;
      background: $demo-input-bg;
      border: 1px solid $border-color;
      min-height: 60px;
      padding: 10px;
      font-size: $fs-title;
      color: darken($border-color, 20%);
      border-radius: 0;
      font-family: "RobotoLightItalic", "Helvetica", "sans-serif";
      margin: 15px 0;

      //&.form-file{
      //  @extend %col-2;
      //}
    }

    .form-required{
      display: none;
    }

    .webform-component--otklik-na-vakansiyu{
      @extend %col-12;
      display: none;

      .form-control{
        margin-top: 0;
      }
    }

    input[type='submit'], .webform-submit{
      @extend .button, .button-transparent-blue;
      //width: auto !important;
      line-height: 1;
      font-family: "RobotoBold", "Helvetica", "sans-serif";
    }

    .description{
      display: none;
    }
  }
}